@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Home" asp-action="MovieReg">Click Here To Register Your Movie</a>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Search">Click Here To Search For A Movie</a>
</div>


