<h1>Find A Movie</h1>


<p>Enter a Title or Genre to Search For A Movie: </p>

<form action="SearchResult">


    <p>Title:</p>
    <input type="text" name="Title" maxlength="30" />

    <p>Genre:</p>

    <input type="text" name="Genre" maxlength="30" />

    <br />
    <br />

    <input type="submit" />

</form>